@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.notepad {
  width: 70%;
  max-width: 700px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  background-color: #2d3748; /* Match the dark background */
  margin: 0 auto; /* Center the notepad */
}

.top {
  width: 100%;
  height: 50px;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Merriweather', serif;
  font-size: 1.25rem; /* Adjust font size as needed */
  font-weight: bold;
}
.paper {
  width: 100%;
  height: 100%;
  min-height: 60vh;
  padding: 35px 20px;
  background: repeating-linear-gradient(#F1EDE9, #F1EDE9 31px, #94ACD4 31px, #94ACD4 32px);
  font-family: 'Merriweather', serif;
  line-height: 32px;
  outline: 0;
  font-size: 22px;
  color: black; /* Black text on the paper */
}
